html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit
}
body{
    background-color:  #fdf9f6;
    font-family: 'Roboto', sans-serif;
}
.shopping-cart{
    width: 700px;
    height: 700px;
    margin: 0 auto;
    background:  #F9eff0;
    box-shadow: 1px 2px 3px 0px;
    border-radius: 5px;
   
    /* display: flex;
    flex-direction: column; */
}
.header-style{
    height: 60px;
    border-bottom: 1px solid  #77635c;
    padding: 20px 30px;
    color: #77635c;
    font-size: 20px;
    font-weight: bold;
}
.items{
    padding: 20px 30px;
    height: 120px;
    display: flex;
}
/* .item:nth-child(3){
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
} */
img{
    margin-right: 50px;
    height: 100px;
}
.buttons{
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}
.details{
    padding-top: 10px;
    margin-right: 60px;
    width: 120px;
    line-height: 20px;
} 
.destails span {
    display: block;
    font-size: 14px;
    color:  #77635c;
    font-weight: bold;
}
.add-button, .remove-button, .checkout-button{
    color: #F9eff0;
}
.counter{
    padding-top: 20px;
    margin-right: 60px;
}
.counter input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color:  #77635c;
    font-weight: 300;
}
   
button{
    width: 30px;
    height: 30px;
    background-color:  #77635c;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
 
.price{
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color:  #77635c;
    font-weight: 300;
}
.checkout-button{
      width: 100px;
}