html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit
}
body {
    background-color:  #fdf9f6;
    font-family: 'Roboto', sans-serif;
}
.shopping-cart {
    width: 700px;
    height: 700px;
    margin: 0 auto;
    background:  #F9eff0;
    box-shadow: 1px 2px 3px 0px;
    border-radius: 5px;
   
    /* display: flex;
    flex-direction: column; */
}
.title{
    height: 60px;
    border-bottom: 1px solid  #77635c;
    padding: 20px 30px;
    color: #77635c;
    font-size: 20px;
    font-weight: bold;
}
.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
}
/* .item:nth-child(3){
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
} */
.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}
.delete-btn,.like-btn {
    display: inline-block;
    Cursor: pointer;
}
/* .delete-btn{
    width: 18px;
    height: 17px;
    background: url(&quot;delete-icn.svg&quot;) no-repeat center;
}
   
.like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
} */

img{
    margin-right: 50px;
    height: 100px;
}
   
.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}
   
.description span {
    display: block;
    font-size: 14px;
    color:  #77635c;
    font-weight: 400;
}
   
.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color:  #77635c;
}
.add-button, .remove-button{
    color: #F9eff0;
}
.quantity {
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {

    
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color:  #77635c;
    font-weight: 300;
}
   
button{
    width: 30px;
    height: 30px;
    background-color:  #77635c;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
 
button:focus,input:focus {
    outline:0;
}
.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color:  #77635c;
    font-weight: 300;
}