
html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
    /* border: 1px solid red; */
}
.checkout-form-style{
    display: flex;
}
.checkout-form-style-col{
    flex: 50%
}

.icon-container {
    margin-bottom: 12px;
    padding: 7px 0;
    font-size: 24px; 
}
  

input{
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    /* border: 1px solid #ccc;
    border-radius: 3px; */
}
  
label{
    margin-bottom: 12px;
    display: block;
}