/* html {
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
    border: 1px solid red;
}

body{
    font-family: "" ;
    margin: 0;
} */

header{
    position: relative;
}
/* footer{
    position: fixed;
    bottom: 0;
    width: 100%;
} */
/* header, footer{
    background-color: black;
    color: white;
    font-weight: bold;
} */
h1{
    color:#c0c4ce;
    /* display: none; */
}
h1+img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    display: none;
}

ul{
    /* list-style-type: none;
    padding: 0;  */
    margin: 0;  
}
a{
    /* color: white; */
    font-weight: bold;
    text-decoration: none;
}
/* header ul{ */
    /* display: flex; */
    flex-direction: row;
    /* justify-content: flex-end;
    position: absolute;
    top: 27px;
    right: 0;
    margin-right: 20px;    */
/* } */
/* header ul li a{
    margin-left: 13px; */
    font-size: 13px;
    padding: 31px 0 0px 0;
/* } */
/* header ul li, .search-icon, .login-icon,.cart-icon{
    position: relative;
} */
/* .search-icon::before, .login-icon::before,.cart-icon::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    position: absolute;
    top:10px;
    left: 20%;
    font-size: 20px;
}
.search-icon::before{
    content: "\f002"
}

.login-icon::before {
    content: "\f007";
}
.cart-icon::before {
    content: "\f07a";
} */
form{
    /* display: none; */
}
fieldset{
    height: 100px;
}
/* input{  
    width: 10px;   
    display: block;
    margin: 0 auto;
    border-color: #ccc;
} */
.nav-footer-col{
    display: inline-block; 
    vertical-align: top;
    padding-left: 100px;
    text-align: left;
}

h3{
    margin: 0 0 7px 0;
}
footer p{
 margin-left: 625px;
 display: inline;   
}