/* we use both bootstrap & our own styling*/
html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body>header,.details:hover , .buy:hover, footer{
    background-color:#f0cfc6;
}
body, a{
    color: #77635c;
}
body, .grid-container > section{
	margin: 0;
}

body, .grid-container > section, footer ul{
    padding: 0; 
}
header,.grid-container section img, footer{
    width: 100%;
}
body>header{
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 20px;
}
h1, .searchbar-style  /*we will use javascript to display the search box*/{
    display: none;
}
h1+img{
    height: 55px;
    width: 120px;
    margin: 0 20px 20px 20px;
    padding-left: 10px;
}
ul{
    list-style-type: none;  
}
body>header ul{
    /* display: flex to set the header navbar horizontally not vertically*/
    display: flex;
    justify-content: flex-end; /*to move the header nav bar to right*/
    top: 27px;
    right: 0; 
    margin: 20px 30px;
}
body>header ul .link-style{
    margin-left: 13px;
    padding-top: 35px;
}
.search-icon, .login-icon,.cart-icon{
    position: relative;
}
header ul, .search-icon::before, .login-icon::before,.cart-icon::before, .overlay{
    position: absolute;
}
.search-icon::before, .login-icon::before,.cart-icon::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    top: 8px;
    left: 10px;
    font-size: 22px;
}
.search-icon::before{
    content: "\f002"
}
.login-icon::before {
    content: "\f007";
}
.cart-icon::before {
    content: "\f07a";
    left: 2px;
}
.search-icon:hover, .login-icon:hover,.cart-icon:hover, a:hover{
    color: black;
    text-decoration: none;
}
#searchbar, .custom-select,.nav-footer-col{
    display: inline-block;
}
#searchbar, .custom-select{
    margin: 3px;
    vertical-align: middle;
}
.searchbar-style{
    height: 80px;
    margin-left: 280px;
}
.select-style{
    width: 20%;
}
#searchbar{
    width: 50%
}
/*responsive search box*/
@media screen and (max-width: 744px) {
    #searchbar{
        width: 70%;
    }
}
body, .grid-container > section{
	background-color: #FDF9F6;
}
.grid-container{
	display: grid;
	width: 80%;
	grid-template-columns: 17.5rem 17.5rem 17.5rem;
  	justify-content: center;
  	margin: 2% auto;
  	grid-column-gap: 10px;
	grid-row-gap: 15px;
  	background-color:inherit;
  	grid-auto-rows: 18.75rem;
}
.grid-container  section{
	border: 0.0625rem solid rgb(240,207,198);
	border-radius: 0.25rem;  
	background-color:inherit;
}
/*responsive grid system*/
@media screen and (max-width: 1000px) {
    .grid-container {
  	    grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 500px) {
    .grid-container {
  	    grid-template-columns: auto;
    }
}
.grid-container  section img{
    height: 100%;
	display:block;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
}
.grid-container section:hover img{
	opacity: 0.3;
}
.grid-container  section:hover {
    box-shadow: 0 0 0.1875rem 0.125rem rgba(240,207,198,1);
}
.grid-container section:hover .overlay {
    opacity: 0.8;
}
.overlay {
	width:99%; 
	height:99%;
	transition: .5s ease;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: #77635c;
}
.overlay ul{
	margin-top: 3.125rem;
}
.overlay li{
	margin: 0 1.875rem 0.625rem 0;
	color: #F9EFF0;
}
.details , .buy {
	display: block;
	background-color: rgba(249,239,240,1);
  	font-size: 1rem;
 	padding: 0.625rem;
 	margin: 0.625rem 1.25rem;
 	border-radius: 7px;
}
.buy{
	background-color: rgb(242, 106, 131);
	color: white;
}
.carousel-inner{
	height: 22.625rem;
	width: 80%;
	margin: 0 auto;
}
.nav-footer-col{
    vertical-align: top;
    padding:10px 0 0 100px;
}
.main-footer-style h3{
    font-size: 20px;
    margin-bottom: 7px;
}

