/* we use both bootstrap & our own styling*/
html{
    box-sizing: border-box;
    left: 0%;
    position: relative;
    overflow-x: hidden;
}
*{
    box-sizing: inherit;
}
header,.grid-container .details:hover , .buy:hover, footer,h2{
    background-color:#f0cfc6;
}
body, a,#cartPage section{
    color: #77635c;
}
body, .grid-container > section{
	margin: 0;
}

body, .grid-container > section, footer ul{
    padding: 0; 
}
header,.grid-container section img, footer{
    width: 100%;
}
body>header{
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 20px;
}
h1, .searchbar-style  /*we will use javascript to display the search box*/{
    display: none;
}
header img{
    height: 55px;
    width: 120px;
    margin: 0 20px 20px 20px;
    padding-left: 10px;
}
ul{
    list-style-type: none;  
}
body>header ul{
    /* display: flex to set the header navbar horizontally not vertically*/
    display: flex;
    justify-content: flex-end; /*to move the header nav bar to right*/
    top: 27px;
    right: 0; 
    margin: 20px 30px;
}
body>header ul .link-style{
    margin-left: 13px;
    padding-top: 35px;
}
.search-icon, .login-icon,.cart-icon, .grid-container  section{
    position: relative;
}
header ul, .search-icon::before, .login-icon::before,.cart-icon::before, .overlay{
    position: absolute;
}
.search-icon::before, .login-icon::before,.cart-icon::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    top: 8px;
    left: 10px;
    font-size: 22px;
}
.search-icon::before{
    content: "\f002"
}
.login-icon::before {
    content: "\f007";
}
.cart-icon::before {
    content: "\f07a";
    left: 2px;
}
.search-icon:hover, .login-icon:hover,.cart-icon:hover, a:hover ,button:hover{
    color: black;
    text-decoration: none;
}
#searchbar, .custom-select,.nav-footer-col{
    display: inline-block;
}
#searchbar, .custom-select{
    margin: 3px;
    vertical-align: middle;
}
.searchbar-style{
    height: 80px;
    margin-left: 280px;
}
.select-style{
    width: 20%;
}
#searchbar{
    width: 50%
}
/*responsive search box*/
@media screen and (max-width: 744px) {
    .searchbar-style{
        margin-left: 100px;
    }
}
@media screen and (max-width: 569px) {
    .searchbar-style{
        margin-left: 50px;  
    }
    #searchbar{
        width: 60%;
    }
}
body, .grid-container > section{
	background-color: #FDF9F6;
}
.mainPage{
    margin-bottom: 5%;
}
.grid-container{
	display: grid;
	width: 80%;
	grid-template-columns: 17.5rem 17.5rem 17.5rem;
  	justify-content: center;
  	margin: 2% auto;
  	grid-column-gap: 10px;
	grid-row-gap: 15px;
  	background-color:inherit;
  	grid-auto-rows: 18.75rem;
}
.grid-container  section{
	border: 0.0625rem solid rgb(240,207,198);
	border-radius: 0.25rem;  
	background-color:inherit;
}
/*responsive grid system*/
@media screen and (max-width: 1000px) {
    .grid-container {
  	    grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 500px) {
    .grid-container {
  	    grid-template-columns: auto;
    }
}
.grid-container  section img{
    height: 100%;
	display:block;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
}
.grid-container section:hover img{
	opacity: 0.3;
}
.grid-container  section:hover {
    box-shadow: 0 0 0.1875rem 0.125rem rgba(240,207,198,1);
}
.grid-container section:hover .overlay {
    opacity: 0.8;
}
.overlay {
	width:99%; 
	height:99%;
	transition: .5s ease;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: #77635c;
}
.overlay ul{
	margin-top: 3.125rem;
}
.overlay li{
	margin: 0 1.875rem 0.625rem 0;
	color: #F9EFF0;
}
.grid-container .details {
	display: block;
	background-color: rgba(249,239,240,1);
  	font-size: 1rem;
 	padding: 0.625rem;
 	margin: 0.625rem 1.25rem;
 	border-radius: 7px;
}
.buy, #cartPage a {
	background-color: rgb(242, 106, 131);
	color: white;
    font-weight: bold;
    padding: 0.5rem;
    width: 14.9rem; 
    border-radius: 7px; 
    /*display: block;  */
}
#cartPage a{
    display: block;
    text-align: center;
    margin: 1rem auto 0;
}
.carousel-inner{
	height: 22.625rem;
	width: 80%;
	margin: 0 auto;
}
.nav-footer-col{
    vertical-align: top;
    padding:10px 0 0 100px;
}
.nav-footer-col p{
    padding-left: 520px;
}
.main-footer-style h3{
    font-size: 20px;
    margin-bottom: 7px;
}

#cartPage{
    border: 1px solid #77635c;
    background-color: inherit;
    position: absolute;
    width: 30%;
    right: -50%;
    right: 0%;
    z-index: 99999999999999999;
    display: none;
}
.scroll{
    /*position: fixed;*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
.productPage{
    width: 60%;
    border: 1px solid #77635c;
    margin: 0 auto;
    display: none;
}
.cartItems > li, .productPage section{
    flex-basis: 95%;
    margin: 1rem 2rem 1rem 0;
    border: 1px solid #77635c;
    display: flex;
    position: relative;
    align-items: flex-start;
    padding: 0.5rem;
    background-color: #F9EFF0;
}
.productPage section{
     flex-wrap: wrap;
     justify-content:flex-end;
}
#cartPage h2{
    padding: 1rem;
}
.scroll .empty{
    text-align: center;
}
.scroll p{
    padding: 0 3rem;
    font-weight: 800;
}
.scroll span{
    float: right;
}
.cartItems > li img, .productPage section img{
    flex-basis: 20%;
    height: 5.5rem; 
}
.cartItems > li ul, .productPage section ul{
    list-style: none;
    flex-basis: 75%;
}
.cartItems > li li:last-child, .productPage section li:last-child{
    float: right;
    margin-top: 1rem;
}
.cartItems > li li:first-child, .productPage section li:first-child{
    font-weight: bold;
}
.cartItems > li li:nth-child(2), .productPage section li:nth-child(2){
    font-weight: 400;
    font-size: 12px;
}
.productPage section button{

}