html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
     /*border: 1px solid red; */
}
body>header, footer{
    background-color:#f0cfc6;
    color: #77635c;
    width: 100%;
}

header{
    padding: 20px 0 0 0;
    position: sticky;
    top: 0;
    z-index: 1;
}
h1{
    display: none;
}
h1+img{
    height: 55px;
    width: 120px;
    margin: 0 20px 20px 20px;
    padding-left: 10px;
}

.list-type /*ul*/{
    list-style-type: none;
    padding: 0;  /*used it to set the list under h3 */
}
.link-style /*a*/{
    color:#77635c;
}
.nav-header-row /*header ul*/{
    /* display: flex to set the header navbar horizontally not vertically*/
    display: flex;
    justify-content: flex-end; /*to move the header nav bar to right*/
    position: absolute;
    top: 27px;
    right: 0; 
    margin: 20px 30px;
}
.nav-header-row .link-style{
    margin-left: 13px;
    padding: 35px 0 0 0;
}
.search-icon, .login-icon,.cart-icon{
    position: relative;
}

.search-icon::before, .login-icon::before,.cart-icon::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 22px;
}
.search-icon::before{
    content: "\f002"
}

.login-icon::before {
    content: "\f007";
}
.cart-icon::before {
    content: "\f07a";
    left: 2px;
}
.search-icon:hover, .login-icon:hover,.cart-icon:hover, .link-style:hover{
    color: black;
    text-decoration: none;
}
#searchbar, .custom-select{
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
}
.searchbar-style{
    height: 80px;
    background: #f0cfc6;
    margin-left: 280px;
    display: none;
    /*we will use javascript to display it*/
}
.select-style{
    width: 20%;
}
#searchbar{
    width: 50%
}
@media screen and (max-width: 744px) {
    #searchbar{
    width: 70%;
    }
}

body{
	margin: 0;
	padding: 0;
	background-color: #FDF9F6;
	color: #77635c;
}
.mainPage{
	margin-bottom: 5%;
}
.grid-container{
	display: grid;
	width: 80%;
	grid-template-columns: 17.5rem 17.5rem 17.5rem;
  	justify-content: center;
  	margin: 2% auto;
  	grid-column-gap: 10px;
	grid-row-gap: 15px;
  	background-color:inherit;
  	grid-auto-rows: 18.75rem;
}
.grid-container  section{
	border: 0.0625rem solid rgb(240,207,198);
	border-radius: 0.25rem;  
	position: relative;
	background-color:inherit;
}
@media screen and (max-width: 1000px) {
    .grid-container {
  	    grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 500px) {
    .grid-container {
  	    grid-template-columns: auto;
    }
}
.grid-container  section img{
	width:100%; 
	height:100%;
	display:block;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
}
.grid-container section:hover img{
	opacity: 0.3;
}
.grid-container  section:hover {
  box-shadow: 0 0 0.1875rem 0.125rem rgba(240,207,198,1);
}
.grid-container section:hover .overlay {
  opacity: 0.8;
}
.overlay {
	width:99%; 
	height:99%;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: #77635c;
}
.overlay ul{
	list-style: none;
	margin-top: 3.125rem;
}
.overlay li{
	margin: 0 1.875rem 0.625rem 0;
	color: #F9EFF0;
}
.details , .buy {
	display: block;
	background-color: rgba(249,239,240,1);
  	color: #4c3f3b;
  	font-size: 1rem;
 	padding: 0.625rem;
 	margin: 0.625rem 1.25rem;
 	text-decoration: none;
 	border-radius: 7px;
}
.buy{
	background-color: rgb(242, 106, 131);
	color: white;
}
.details:hover , .buy:hover{
	text-decoration: none;
	background-color: #f0cfc6;
}
a:hover {
	color: black;
}
.carousel-inner{
	height: 22.625rem;
	width: 80%;
	margin: 0 auto;
}

.nav-footer-col{
    display: inline-block;
    vertical-align: top;
    padding:10px 0 0 100px;
}
.main-footer-style h3{
    font-size: 20px;
    margin: 0 0 7px 0;
}