/* we use both bootstrap & our own styling*/
html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
header,.grid-container .details:hover , .buy:hover, footer,h2{
    background-color:#f0cfc6; /*pink*/
}
.grid-container .details, .cartItems > li, #productPage section{
    background-color: rgba(249,239,240,1); /*light pink*/
}
body, .grid-container, .grid-container > section, #cartPage{
    background-color: #FDF9F6; /*off white*/
}
body, a,#cartPage li{
    color: #77635c; /*brown*/
}
body, .grid-container > section{
	margin: 0;
}
body, .grid-container > section, footer ul{
    padding: 0; 
}
header,.grid-container section img, footer{
    width: 100%;
}
body>header{
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 1.25rem;
}
header img{
    height: 3.4375rem;
    width: 7.5rem;
    margin: 0 1.538vw 1.538vw 1.538vw;
    padding-left: 0.625rem;
}
ul{
    list-style-type: none;  
}
body>header ul, #cartPage{
    right: 0;
}
body>header ul, .cartItems > li, #productPage section{
     display: flex; /* display: flex to set the header navbar horizontally not vertically*/
}
body>header ul{
    justify-content: flex-end; /*to move the header nav bar to right*/
    top: 1.6875rem; 
    margin: 1.25rem 1.875rem;
}
body>header ul .link-style{
    margin-left: 0.8125rem;
    padding-top: 2.1875rem;
}
html, .search-icon, .login-icon,.cart-icon, .grid-container  section, .cartItems > li, #productPage section{
    position: relative;
}
header ul, .search-icon::before, .login-icon::before,.cart-icon::before, .overlay, #close{
    position: absolute;
}
#productPage, #cartPage{
    position: fixed;
}
.search-icon::before, .login-icon::before,.cart-icon::before {
    font-family: "Font Awesome 5 Free"; 
    top: 0.5rem;
    left: 0.625rem;
    font-size: 1.375rem;
}
.search-icon::before{
    content: "\f002"
}
.login-icon::before {
    content: "\f007";
}
.cart-icon::before {
    content: "\f07a";
    left: 0.125rem;
}
.search-icon:hover, .login-icon:hover,.cart-icon:hover, a:hover ,button:hover{
    color: black;
    text-decoration: none;
}
#searchbar, .custom-select,.nav-footer-col{
    display: inline-block;
}
#searchbar, .custom-select{
    margin: 0.1875rem;
    vertical-align: middle;
}
.searchbar-style{
    height: 5rem;
    margin-left: 17.5rem;
}
.select-style{
    width: 20%;
}
#searchbar{
    width: 50%
}
.grid-container{
	display: grid;
	width: 80%;
	grid-template-columns: 17.5rem 17.5rem 17.5rem;
  	justify-content: center;
  	margin: 2% auto;
  	grid-column-gap: 0.625rem;
	grid-row-gap: 0.9375rem;
  	grid-auto-rows: 18.75rem;
}
.grid-container  section{
	border: 0.0625rem solid rgb(240,207,198);
	border-radius: 0.25rem;  
}
.grid-container .details, .grid-container  section img, #cartPage a{
    display:block;
}
.grid-container  section img{
    height: 100%;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
}
.grid-container section:hover img{
	opacity: 0.3;
}
.grid-container  section:hover, .cartItems > li:hover, #productPage section:hover  {
    box-shadow: 0 0 0.1875rem 0.125rem rgb(242, 106, 131);
}
.grid-container section:hover .overlay {
    opacity: 0.8;
}
.overlay {
	width:99%; 
	height:99%;
	transition: .5s ease;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #77635c;
}
.overlay ul{
	margin-top: 3.125rem;
}
.overlay li{
	margin: 0 1.875rem 0.625rem 0;
	color: #F9EFF0;
}
.grid-container .details {
 	padding: 0.625rem;
 	margin: 0.625rem 1.25rem;
}
.buy, #cartPage a {
	background-color: rgb(242, 106, 131);
	color: white;
    padding: 0.5rem;
    width: 14.9rem;  
}
.buy, #cartPage a, .grid-container .details{
    border-radius: 0.4375rem;
}
#cartPage a{
    margin: 1rem auto;
}
.carousel-inner{
	height: 22.625rem;
	width: 80%;
	margin: 0 auto;
}
.nav-footer-col{
    vertical-align: top;
    padding:0.625rem 0 0 6.25rem;
}
.nav-footer-col p{
    position: absolute;
    right: 1rem;
    bottom: 0;
}
.main-footer-style h3{
    font-size: 1.25rem;
    margin-bottom: 0.4375rem;
}
#cartPage{
    width: 30%;
    height: 85.8%;
    z-index: 2;
    border-top: 0;
}
.scroll{
    overflow: auto;
    height: 77%;
}
#productPage{
    width: 60%;
    margin: 0 auto;
    top: 24%;
    left: 20%;
    z-index: 3;
}
.cartItems > li, #productPage section, #cartPage{
    border: 1px solid #77635c;
}
.cartItems > li, #productPage section{
    flex-basis: 95%;
    margin: 1rem 2rem 1rem 0;
    padding: 0.5rem;
}
#productPage section{
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 98%;
}
#cartPage h2, #productPage section{
    padding: 1rem;
}
.scroll .empty, .overlay, #cartPage a{
    text-align: center;
}
.scroll p{
    padding: 0 3rem;
}
.scroll span, .cartItems > li li:last-child, #productPage section li:last-child{
    float: right;
}
.cartItems > li img, #productPage section img{
    flex-basis: 20%;
}
.cartItems > li img{
     height: 5.5rem; 
}
#productPage section img{
    height: 11.5rem;
}
#productPage button{
    position: absolute;
    bottom: 1rem;
}
.cartItems > li ul, #productPage section ul{
    flex-basis: 70%;
}
.cartItems > li li:last-child, #productPage section li:last-child{
    margin-top: 1rem;
}
.cartItems > li li:first-child, h3, #productPage section li:first-child, #productPage .price, .scroll p, .buy, #cartPage a, .search-icon::before, .login-icon::before,.cart-icon::before{
    font-weight: bold;
}
.cartItems > li li:nth-child(2), #productPage section li:nth-child(2){
    font-weight: 400;
    font-size: 0.8rem;
}
.info, .total, #productPage, #cartPage, h1, .searchbar-style{
    display: none;
}
#close{
    width: 1.875rem;
    top: 0.1rem;
    z-index: 10;
}
#productPage button, #close{
    right: 1rem;
}
@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto auto; /*responsive grid system*/
    }
    #cartPage{
        width: 100%;
    }
    .nav-footer-col p {
        position: static;
    }
    .nav-footer-col{
    padding:0.5rem 0 0 6.25rem;
    }
    .searchbar-style{
        margin-left: 6.25rem;
    }
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .searchbar-style{
        margin-left: 3.125rem;  
    }
    #searchbar{
        width: 60%;
    }
    .grid-container {
        grid-template-columns: auto; /*responsive grid system*/
    }
    /*#cartPage{
        width: 50%;
    }*/
}