html{
	box-sizing: border-box;
}
*{
	box-sizing: inherit;
}
body, .grid-container > section{
	margin: 0;
	padding: 0;
	background-color: #FDF9F6;
	color: #77635c;
}
.grid-container{
	display: grid;
  	grid-template-columns: auto auto auto;
  	width: 100%;
  	justify-content: center;
  	margin: 5% auto;
  	grid-gap: 1.5%;
  	background-color:inherit;
}
.grid-container  section{
	width: 280px;
	height: 300px;
	border: 1px solid rgb(240,207,198);
	border-radius: 4px;  
	padding: 5px; 
	position: relative;
	background-color:inherit;
}
.grid-container  section img{
	width:100%; 
	height:100%;
	display:block;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
}
.grid-container section:hover img{
	opacity: 0.3;
}
.grid-container  section:hover {
  box-shadow: 0 0 2px 1px rgba(240,207,198,1);
}
.grid-container section:hover .overlay {
  opacity: 0.8;
}
.overlay {
	width:99%; 
	height:99%;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: #F9EFF0;
}
.overlay ul{
	list-style: none;
	margin-top: 50px;
}
.overlay li{
	margin: 0 30px 10px 0;
}
.details , .buy {
	display: block;
	background-color: rgba(240,207,198,0.7);
  	color: #77635c;
  	font-size: 16px;
 	padding: 10px;
 	margin: 10px 20px;
 	text-decoration: none;
}
.details:hover , .buy:hover{
	text-decoration: none;
	background-color: #f7bfbe;
}
a:hover {
	color: black;
}
.carousel-inner{
	height: 300px;
	width: 60%;
	margin: 20px auto;
}
